@import "./base.scss";

h2 + ul {
  margin-top: var(--space-m);
}

mark {
  background-color: var(--color-yellow);
}

label,
.label-skeleton {
  display: block;
  font-weight: 700;
  font-family: var(--font-mono);
}

.label-skeleton {
  visibility: hidden;
}

ul {
  list-style: none;
}

.filter-panel {
  background-color: var(--color-dark);
  color: var(--color-light);
}

header,
footer,
nav,
.repositories-list,
.page-error,
.filter-panel-content {
  max-width: 900px;
  padding: var(--space-m-l);
  margin-right: auto;
  margin-left: auto;
}

header {
  padding-bottom: 0;
}

nav {
  padding-top: var(--space-xs-s);
  padding-bottom: var(--space-xs-s);

  ul {
    display: inline-flex;
    gap: 16px;
    margin-left: 16px;
  }

  a {
    padding: 3px;
  }

  a.active{
    background: var(--color-yellow);
  }
}

.repository-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: var(--space-xs-s);
  gap: 16px;

  dt {
    justify-self: end;
    font-weight: bold;
  }
}

.repositories-list {
  li {
    border: var(--border-thin) solid var(--color-dark);
  }

  li + li {
    margin-top: var(--space-m-l);
  }
}

.owner-repositories {
  li + li {
    margin-top: var(--space-s-m);
  }
}

.owner-repositories + .owner-repositories {
  margin-top: var(--space-m-l);
}

.owner-name {
  font-size: var(--s1);

  + ul {
    margin-top: var(--space-s);
  }
}

